pandas
yfinance
duckdb
sqlparse
requests
python-dotenv
pyyaml

praw
langdetect
nltk

scikit-learn
imbalanced-learn

transformers
huggingface_hub
tokenizers
vaderSentiment
torch

optuna
optuna-integration[sklearn]

python-telegram-bot